#Format must start with expName, and number of controls and experiment
#expName must not contain spaces!
#All datafiles must contain same number of genes and same genes.
#Trailing empty lines or spaces can cause error for Rscript!


expName: exp1
geneNameToIdpath:./GeneNameToIDmap.txt
experiment:./dataFile/exp1.txt
control:./dataFile/ctr1.txt


expName: exp2
geneNameToIdpath:./GeneNameToIDmap.txt
experiment:./dataFile/exp11.txt
experiment:./dataFile/exp22.txt
control:./dataFile/ctr11.txt
control:./dataFile/ctr22.txt
